<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Send letter</title>
</head>
<body>
    <form action="send_letter/" method="post">{% csrf_token %}
        <p>First Name</p>
        <label>
            <input name="first_name" type="text"/>
        </label>
        <p>Last Name</p>
        <label>
            <input name="last_name" type="text"/>
        </label>
        <p>Middle Name</p>
        <label>
            <input name="middle_name" type="text"/>
        </label>
        <p>Phone Number</p>
        <label>
            <input name="phone_number" type="text"/>
        </label>
        <p>Start Date</p>
        <label>
            <input name="start_date" type="date"/>
        </label>
        <p>End Date</p>
        <label>
            <input name="end_date" type="date"/>
        </label>
        <p>Sender Email</p>
        <label>
            <input name="email" type="email"/>
        </label>
        <p>Password</p>
        <label>
            <input name="password" type="password"/>
        </label>
        <br />
        <input value="Send letter" type="submit" />
    </form>
</body>
</html>